@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.cover {
	background-image: url("forestbridge.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	height: 100vh;
	width: 100%;
}

@keyframes flare {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Patrick Hand SC', cursive;
	color: white;
	font-size: 100px;
	border-bottom: 2px solid white;
	animation-name: slide;
	animation-duration: 1s;

}

@keyframes slide {
	from {
		top: 30%;
	}
	to {
		top: 50%;
	}
}

h2 {
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Patrick Hand SC', cursive;
	color: white;
	font-size: 50px;
	padding-left: 20px;
	animation-name: logo;
	animation-duration: 1s;
}

@keyframes logo {
	from {
		left: -100px;
	}
	to {
		left: 0;
	}
}
