@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

nav {
	position: sticky;
	top: 0;
	z-index: 1;
}

nav ul {
	list-style-type: none;
	background-color: white;
	box-shadow: 0px 1px 5px black;
	width: 100%;
	overflow: hidden;
	display: block;
	padding: 10px;
}

.logo {float: left;}

.others {
	float: right;
	margin-left: 30px;
}

nav ul li a {
	text-decoration: none;
	color: black;
	padding: 10px;
	font-size: 20px;
	display: inline-block;
	font-family: 'Fondamento', cursive;
}

nav ul li a:hover {
	background-color: lightgray;
	font-weight: bolder;
}

.cover-image {position: relative;}
.cover-image img {width: 100%;}

.cover-image-title {
	position: absolute;
	bottom: 10px;
	left: 0;
	font-size:25px;
	opacity: 0.7;
	font-family: 'Fondamento', cursive;
}

.about-container, .menu-container {
	width: 75%;
	margin: 0 auto;
}

.about-container-left {
	float: left;
	width: 50%;
}

.about-container-right {
	float: left;
	padding: 20px;
	text-align: center;
	width: 50%;
}

.about-container-right h1 {
	font-size: 40px;
	margin-bottom: 20px;
	font-family: 'Fondamento', cursive;
	padding-top: 70px;
}

.about-container-right h4 {
	font-size: 20px;
	opacity: 0.7;
	margin-bottom: 20px;
}

.about-container-right p {
	font-size: 20px;
	text-align: justify;
	padding-left: 10px;
	font-family: 'Chau Philomene One', sans-serif;
}

.about-container-right p span {
	background-color: lightgray;
	padding: 5px;
	margin: 5px;
	display: inline-block;
}

.fade {opacity: 0.7;}

.about-container::after {
	content: "";
	display: table;
	clear: both;
}

.menu-container-right, .menu-container-left {
	float: right;
	width: 50%;
}

hr {
	opacity: 0.5;
	margin: 0 auto;
	width: 75%;
}

.menu-container-right img, .about-container-left img {
	opacity: 0.7;
	width: 100%;
	padding-top: 70px;
}

.menu-container-left h1 {
	text-align: center;
	font-family: 'Fondamento', cursive;
	font-size: 40px;
	padding-top: 70px;
}

.menu-container-left h2 {font-family: 'Chau Philomene One', sans-serif;}

.menu-container-left p {
	font-family: 'Patrick Hand', cursive;
	font-weight: bolder;
	font-size: 20px;
	opacity: 0.8;
}

.menu-container::after {
	content: "";
	display: table;
	clear: both;
}

.contact-container {
	width: 75%;
	margin: 0 auto;
}

.contact-container input {
	width: 100%;
	margin: 10px;
	padding: 16px;
	border: none;
	border-bottom: 2px solid grey;
	font-family: 'Patrick Hand', cursive;
	font-size: 20px;
	font-weight: bolder;
}

.contact-container button {
	padding: 16px;
	font-size: 16px;
	background-color: lightgray;
	margin-left: 10px;
	border: none;
	font-family: 'Fondamento', cursive;
	font-weight: bolder;
}

.contact-container button:hover {background-color: #999999;}

.contact-container h1 {
	font-family: 'Fondamento', cursive;
	font-size: 40px;
	padding-top: 70px;
}

.contact-container h3 {
	font-family: 'Patua One', cursive;
	color: #009999;
}

.contact-container p {
	font-family: 'Patrick Hand', cursive;
	font-size: 20px;
	font-weight: bolder;
}

.social-media {text-align: center;}

.social-media i {
	padding: 10px;
	opacity: 0.5;
	font-size: 25px;
}

.social-media i:hover {opacity: 1;}

.trade {
	text-align: center;
	font-size: 20px;
	font-family: Comic Sans MS;
	font-weight: bolder;
}

.banner {
	width: 100%;
	background-color: lightgray;
	margin-top: 50px;
	padding: 50px 0;
}

.hiddenMenu {
	background-color: rgba(26, 26, 26, 0.9);
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	top: 0;
	left: 0;
	position: fixed;
	display: none;
	animation-name: slide;
	white-space: nowrap;
	animation-duration: 1s;
}

@keyframes slide {
	from {height: 0;}
	to {height: 100%;}
}

.hiddenMenu a {
	display: block;
	color: white;
	text-decoration: none;
	font-size: 30px;
	font-family: 'Fondamento', cursive;
	text-align: center;
	padding: 20px;
}

.hiddenMenu span {
	font-size: 25px;
	color: white;
	float: right;
	padding: 16px;
}

.hiddenMenu span:hover {background-color: tomato;}
.hiddenMenu a:hover {background-color: grey;}

.open-header {
	color: white;
	text-align: center;
	font-family: 'Fondamento', cursive;
	font-size: 50px;
	animation-name: pop-up;
	animation-duration: 2s;
	animation-delay: 0.5s;
	margin-top: 100px;
}

.open-mark {
	background-color: #00cc66;
	color: black;
	padding: 16px;
	border: 5px solid black;
}

.hidden-header {
	color: white;
	text-align: center;
	font-family: 'Fondamento', cursive;
	font-size: 40px;
	animation-name: pop-up;
	animation-duration: 2s;
	animation-delay: 0.5s;
	display: none;
	margin-top: 50px;
}

.hidden-mark {
	background-color: #00cc66;
	color: black;
	padding: 16px;
	border: 5px solid black;
}

@keyframes pop-up {
	0% {transform: scale(0);}
	25% {transform: scale(1);}
	50% {transform: scale(0.5);}
	100% {transform: scale(1);}
}

.bars {
	display: none;
	float: right;
}


@media screen and (max-width: 865px) {.cover-image-title {font-size: 20px;}}

@media screen and (max-width: 511px) {
	.open-header {font-size: 40px;}
	.cover-image-title {font-size: 15px;}
}

@media screen and (max-width: 317px) {.cover-image-title {display: none;}}
@media screen and (max-width: 431px) {.open-header {font-size: 30px;}}
@media screen and (max-width: 970px) {.about-container-left, .menu-container-right,.about-container-right, .menu-container-left, .about-container, .menu-container {width: 100%;}}
@media screen and (max-width: 970px) {.about-container, .menu-container {padding: 0 10px;}}

@media screen and (max-width: 321px) {
	.open-header {display: none;}
	.hidden-header {display: block;}
}

@media screen and (max-width: 554px) {
	.bars {display: block;}
	.others {display: none;}
}